* {
  padding: 0px;
  margin: 0px;
}


h1{
  color: darksalmon;
  text-align: center;
  font-family: Georgia;
}
h2{
  color:coral;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p{ 
  color: dimgray;
  font-family: sans-serif, verdana;

}
button{
  color: sienna;
  background-color: lightsalmon;
  font-size: 20px; 
  border: none; 
  border-radius: 8px; 
  
}

banner{
  border: 
  background-color: 
  background-image: 
  background-repeat: no-repeat; 
  height: 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darksalmon;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: peachpuff;
}
img { 
  border-radius: 50%;
  width: 15%;
  height: auto;
  margin: 50px;
  float: center;

}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}